.headerContent-retail {
	width: 900px;
	height: 176px;
	position: relative;
	margin: 0px 0px 0px 0px; /*TOP RIGHT BOTTOM LEFT*/
	border-left: 0px solid #33182b;
	border-right: 0px solid #33182b;
	border-bottom: 0px dashed #cacaca;
	background-image:url(../images/retail_logo.jpg);
	background-position:center;
	background-repeat:no-repeat;
	
}

/* ########### BODY PROPERTIES: START #############   106 32*/
* { 
	margin: 0; 
	padding: 0;
}

.retail  { 
	font: 10px Arial;
	background-color: #fff;
	background-image:url(../images/retailBG.jpg);
	background-position:top;
	background-repeat:repeat;
	background-attachment:fixed;
	/*background: -webkit-gradient(linear,left bottom,left top,color-stop(0.39, rgb(188,207,51)),color-stop(0.7, rgb(226,249,77)));
	background:  -moz-linear-gradient(top, white, #e3e2e3);*/
}
/* ########### BODY PROPERTIES: END ############# */


/* ################################################################# */
/* ################### RETAIL HOME ########################## */


.mainContent .mainContentWrapper_Retail {
	width: 900px;
	height: 640px;
	float: left;
	margin: 0px 0px 0px 0px;
	padding-bottom:0px;
	border-bottom: 1px dashed #cacaca;
	background-image:url(../images/retail_products.jpg);
	background-position:0% 85%;
	background-repeat:no-repeat;
}


.mainContent .Press_Scroller_Holder {
	width: 900px;
	height: 172px;
	float: left;
	margin: -10px 0px 20px 0px;
}

.mainContent .Press_Scroller_Holder_Left {
	width: 209px;
	height: 172px;
	float: left;
	margin: 0px 0px 0px 0px;
	background-image:url(../images/pressImage.jpg);
	background-position:top right;
	background-repeat:no-repeat;
}

.mainContent .Press_Scroller_Holder_Right {
	width: 460px;
	height: 172px;
	float: left;
	margin: 0px 0px 0px 0px;
}


.mainContent .Retail_Main_Holder {
	width: 692px;
	height: auto;
	float: left;
	margin: 0px 0px 15px 0px;
	
}

.mainContent .Retail_Main_Holder_Left {
	width: 160px;
	height: auto;
	float: left;
	margin: -15px 0px 15px 0px;
}

.mainContent .Retail_Main_Holder_LeftBot {
	width: 160px;
	height: auto;
	float: left;
	margin: -15px 0px 15px 0px;
	background-image:url(../images/retailsideOne.png);
	background-position:top;
	background-repeat:no-repeat;
}

.mainContent .Retail_Main_Holder_Right {
	width: 95%;
	height: auto;
	float: right;
	margin: -15px 0px 15px 0px;
	
}

.mainContent .Retail_Main_Holder_Right_Bot_Image {
	width: 530px;
	height: 226px;
	float: right;
	margin: -15px 0px 15px 0px;
	background-image:url(../images/product_logos.jpg);
	background-position:center;
	background-repeat:no-repeat;
}

.mainContent .Retail_Main_Holder_ImageSpacer {
	width: 530px;
	height: 105px;
	float: right;
	margin: 0px 0px px 0px;
	background-color:#CF0;
}

.mainContent .Retail_Main_Holder_Right1 {
	width: 260px;
	height: auto;
	float: left;
	margin: 0px 0px 0px 0px;
}

.mainContent .Retail_Main_Holder_Right2 {
	width: 260px;
	height: auto;
	float: right;
	margin: 0px 0px 0px 0px;
}

/* ################### RETAIL HOME ########################## */
/* ################################################################# */

.retailHeader {
padding: 0px;
font: 20px Century Gothic, Arial, Helvetica;
line-height: 1.6;
font-weight: bold;
color: #7b9a75;
}

.mainContent .mainContentWrapper_WSP_Press {
	width: 900px;
	height: auto;
	min-height:460px;
	float: left;
	margin: 0px 0px 0px 0px;
	padding-bottom:0px;
	border-bottom: 1px dashed #cacaca;
	background-color: #fff;
}
