<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.1.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">


	<bean id="jasyptPBEConfig" class="com.util.JasyptPBEConfig" />

	<!-- The will be the encryptor used for decrypting configuration values. -->
	<bean id="strongEncryptor" class="org.jasypt.encryption.pbe.PooledPBEStringEncryptor">
		<property name="config" ref="jasyptPBEConfig" />
		<property name="poolSize">
			<value>4</value>
		</property>
	</bean>

<!-- Place-holder class for PBEStringEncryptor objects which are eligible for use from Hibernate. -->
	<bean id="hibernateStringEncryptor" class="org.jasypt.hibernate3.encryptor.HibernatePBEStringEncryptor">
		<property name="registeredName">
			<value>strongHibernateStringEncryptor</value>
		</property>
		<property name="encryptor">
			<ref bean="strongEncryptor" />
		</property>
	</bean>


	<util:list id="propertyFiles">
		<value>WEB-INF/jdbc.properties</value>
		<value>WEB-INF/system.properties</value>
	</util:list>
	
	<!-- The EncryptablePropertyPlaceholderConfigurer will read the .properties files and make their values accessible as ${var} -->
	<bean id="propertyConfigurer" class="org.jasypt.spring31.properties.EncryptablePropertyPlaceholderConfigurer">
		<constructor-arg ref="strongEncryptor" />
		<property name="locations" ref="propertyFiles" />
		<property name="valueSeparator" value="?" />
	</bean>

	<context:annotation-config />

	<context:component-scan annotation-config="true" base-package="com.dao.db, 
			com.manager" />


	<context:mbean-server />

	<bean id="jmxAttributeSource" class="org.springframework.jmx.export.annotation.AnnotationJmxAttributeSource" />

	<bean id="jmxAssembler" class="org.springframework.jmx.export.assembler.MetadataMBeanInfoAssembler">
		<property name="attributeSource" ref="jmxAttributeSource" />
	</bean>

	<bean id="productLoadTask" class="com.tasks.ProductLoadTask" />

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

</beans>